<% content_for :head do %>
  <%= stylesheet_link_tag "chat", "data-turbo-track": "reload" %>
<% end %>


<div class="chat-page">

  <!-- Header -->
  <%= render "shared/header", icon: "fa-regular fa-message text-orange", title: "AI assistant", chip: @chat.model_id.presence || "model" %>



  <section class="chat-body">
    <%#= turbo_stream_from @chat %>
    <div class="container mt-3" id='messages'>
      <%= render 'messages/messages' , messages: @chat.messages.visible%>
    </div>
  </section>

  <footer class="chat-composer">
    <div class="container">
      <%= render "messages/form", chat: @chat, message: Message.new %>
    </div>
  </footer>
</div>
