<div>
  <div>
    <h1>Welcome to Tribu Habits</h1>
      <h3>Start building positive habits</h3>
  </div>
  <div>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark btn-lg container-btn" %>
    <%= link_to "Sign in", new_user_session_path %>
  </div>
</div>
