:root {
  --blush: #F09393;
  --light-blush: #F2B1B1;

  --pink: #F5B6F3;
  --light-pink: #F0D9EF;

  --Rosewater: #FFC7D0;
  --light-Rosewater: #FCDCE1;

  --yellow: #FFDA9B;
  --light-yellow: #FFE6BB;

  --lime: #E4ED97;
  --light-lime: #E9ECCE;

  --teal: #C1F4DC;
  --light-teal: #CDE9DC;

  --aqua: #ACDFEB;
  --light-aqua: #C4DFE5;

  --olive: #CADCAE;
  --light-olive: #E1E9C9;

  --violet: #A2AADB;
  --light-violet: #C0C9EE;

  --orange: #FE8C4F;

  --color-primary: #333;  /* override Bootstrap primary */
  --color-secondary: linear-gradient(90deg,rgba(254, 140, 79, 1) 0%, rgba(254, 168, 62, 0.98) 48%);
  --color-background: #F6F6F6;
  --color-white: #ffffff;
}
