 <%= render partial: "shared/header",  locals: { zone: @community, title: "Your Community"}  %>

 <div class='pb-5'>
  <% @communities.each do |community| %>
    <%= link_to community_path(community), class:" community_card text-center m-3" do %></p>
      <%= community.title %>
    <% end %>
  <% end %>
 </div>
