<div class="habits-container">
  <% if params[:habit_id].present? %>
      <%= render "form", habit: @habit, show_title_input: true %>
  <% else %>
    <h2>Create your custom habit</h2>
    <%= render "form", habit: @habit, show_title_input: true %>
  <% end %>
</div>
