<%= render partial: "shared/header",  locals: { zone: @habits, title: "✨ Start a New Habit"}  %>
<div class="d-flex justify-content-center vh-100 m-3">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="container-card">
        <% if params[:habit_id].present? %>
          <h3 class="habit-title"><%= @habit_title %></h3>
          <p class='form-control'> <strong>Community:</strong>  <%= @habit_community  %> </p>
        <% else %>
        <h3>New habit</h3>
          <p class="my-3"><span>Let’s name your habit</span></p>
        <% end %>
        <%= render "form", habit: @habit %>
      </div>
    </div>
  </div>
</div>
