<div class="habits-container">
  <% if params[:habit_id].present? %>
    <h2><%= @habit_title %></h2>
  <% else %>
    <h2>Create your custom habit</h2>
  <% end %>
    <%= render "form", habit: @habit %>
</div>
